*{
    font-size: 16px;
    background-color: aquamarine;
    align-items:center;
    align-content: center;
}
.input-text{
    size: 12px;
    border-width: 2px;
    border-style: solid;
    font-size: 16px;
    color: #009900;
    letter-spacing: 3px;
}